.choice_dropdown 
{
    border: none;
    overflow: hidden;
    display: inline;
    margin-right: 6px;
}

.choice_dropdown ul
{
    display: inline;
    color: white;
    font-family: sans-serif, 'FontAwesome';
    font-weight: bold;
    list-style: none;
    margin-left: 2px;
}

.choice_dropdown ul li
{
    display: inline-block;
    position: relative;
    background-color: #2980B9;
}

.choice_dropdown li ul
{
    display: none;
}

.choice_dropdown a
{
    color: white;
    font-weight: bold;
}

.choice_dropdown a:visited
{
    color: white;
}

.choice_dropdown a:hover
{
    background-color: #7FB3D5;
}

.choice_dropdown li:hover ul
{
    display: block;
    position: absolute;
}

.choice_dropdown li:hover li
{
    width: 100%;
    float: none; 
} 

.rst-content .admonition-todo
{
    line-height: 24px;
    padding: 12px;
    background: #f4e1fa;
    -webkit-font-smoothing: antialiased;
}

.rst-content .admonition-todo .admonition-title
{
    background: #c666e3
}

.rst-content .admonition-todo p:last-child
{
    margin-bottom: 0;
}

.rst-content .admonition-a-faire
{
    line-height: 24px;
    padding: 12px;
    background: #f4e1fa;
    -webkit-font-smoothing: antialiased;
}

.rst-content .admonition-a-faire .admonition-title
{
    background: #c666e3
}

.rst-content .admonition-a-faire p:last-child
{
    margin-bottom: 0;
}

.rubric
{
    font-size: 125%;
    font-weight: 700;
}
